/*!
 * Bootstrap v3.1.1 (http://getbootstrap.com)
 * Copyright 2011-2014 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

/*! normalize.css v3.0.0 | MIT License | git.io/normalize */

/*Edited by Antonio Lutfi for use on www.antoniolutfi.com.br*/


html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

th
{
text-align:left;
}

.center
{
  margin-left:auto;
  margin-right:auto;
  width:938px;
  background-color:#ededed;
  overflow:hidden;
}
.skill
{
  color: #129793;
  font-weight:bold;
}

a.header_footer
{
  color: inherit;
  font-size: inherit;
}
a.header_footer:visited
{
  color:inherit;
}
.header,
.footer
{
  width: inherit;
  height: 45px;
  background-color: #bb3333;
  color: #ff9;
}
.header
{
  position:fixed;
  top: 0;
  font-size: 16px;
}
.footer
{
  text-align:center;
}
.text
{
  text-align:left;
  margin-left:15px;
  float:left;
}

body {
  margin: 0;
  margin-top: 0px;
}

a {
  background: transparent;
}
a:hover {
  outline: 0;
}
b,
{
  font-weight: bold;
}
h1 {
  /*margin: .67em 0;*/
  font-size: 4em;
}
hr {
  height: 0;
  -moz-box-sizing: content-box;
       box-sizing: content-box;
}

td,
{
  padding: 0;
}
@media print {
  * {
    color: #000 !important;
    text-shadow: none !important;
    background: transparent !important;
    box-shadow: none !important;
  }
  
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;

    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  select {
    background: #fff !important;
  }
  .navbar {
    display: none;
  }
 
}
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  font-size: 62.5%;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #000;
  background-color: #2E2F2F;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
a {
  color: #428bca;
  text-decoration: underline;
}
a:hover,
a:focus {
  color: #2a6496;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
a:visited {
    text-decoration: underline;
    color: #888bca
  }
figure {
  margin: 0;
}
img {
  vertical-align: middle;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #333;
}

h1,
h2,
h3,
h4,
h5,
h6
{
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
}
h1
{
  color: #dd3333;
  text-align:center;
}
h2
{
  color: #bb3333
}
h4
{
  color: #883333
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
  font-weight: normal;
  line-height: 1;
  color: #999;
}
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  
  margin-bottom: 20px;
}
h1 small,
.h1 small,
h2 small,
.h2 small,
h3 small,
.h3 small,
h1 .small,
.h1 .small,
h2 .small,
.h2 .small,
h3 .small,
.h3 .small {
  font-size: 65%;
}
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
h4 small,
.h4 small,
h5 small,
.h5 small,
h6 small,
.h6 small,
h4 .small,
.h4 .small,
h5 .small,
.h5 .small,
h6 .small,
.h6 .small {
  font-size: 75%;
}
h1,
.h1 {
  font-size: 42px;
}
h2,
.h2 {
  font-size: 26px;
}
h4,
.h4 {
  font-size: 18px;
}
p {
  margin: 0 0 10px;
}


